.loader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: #615d59;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
  font-weight: 300;
}

.loader p {
  position: absolute;
  transform: translateX(-200px);
}
